body{
    font-family: monospace;
    font-size:100%;
    color: #FFFFFF;
    background-color: rgba(4, 0, 15, 1.0);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#algo{
    background-color: hsl(203, 7%, 45%);
    border: 2px white;
    margin: 10px;
    padding: 10px;
}
.filmes{
    background-color: transparent;
    border: 2px;
    margin: 10px;
    padding: 10px;
}
.header{
    overflow: hidden;
    background-color: #C78F88;
    padding: 20px, 10px;
}
a{
    float: left;
    color: 000000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
.top{
    font-size: 25px;
    font-weight: bold;
}
.header-right{
    float: right;
}
